@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* ct => custom */
.ct-top-menu-item {
  @apply tracking-widest text-xs cursor-pointer py-1 px-2 hover:text-gray-800 relative after:absolute after:bottom-0 after:left-0 after:bg-coffee-200 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-bagde-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.ct-button {
  @apply text-center uppercase tracking-wider py-4 px-6 text-[12px] font-semibold cursor-pointer hover:bg-opacity-90;
}
